/* リセットスタイル */
body, h1, h2, h3, p, ul, li, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 基本スタイル */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0; /* デフォルトのマージンをリセット */
  padding: 0; /* デフォルトのパディングをリセット */
}

h1, h2, h3 {
  margin-top: 20px; /* 見出しの上に空白を追加 */
}

ul {
  list-style-type: none; /* リストのスタイルをリセット */
}

/* セクションスタイル */
.section {
  margin-bottom: 20px; /* 各セクションの間に空白を追加 */
  padding: 20px; /* セクション内のコンテンツにパディングを追加 */
  width: 100%; /* セクションが全幅を占めるように設定 */
  box-sizing: border-box; /* パディングを含む幅の計算 */
}

/* 背景画像セクション */
.bg-image {
  background-image: url('https://github.com/coco556/p2/blob/main/rogo.png?raw=true'); /* 背景画像のパスを指定 */
  background-size: cover; /* 画像をセクション全体にカバー */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  min-height: 200px; /* セクションの最小高さを設定 */
}

/* 背景色セクション */
.bg-color {
  background-color: #FFCC00; /* 背景色を指定 */
}
